* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --bg: #f5f5f5;
    --bg-dark: #262626;
    --text: #0a0a0a;
    --front: #262626;
    --back: #fafafa;
    --shadow: rgba(64, 64, 64, 0.3);
    --easyBtn: #22c55e;
    --easyBtn-darker: #15803d;
    --mediumBtn: #f59e0b;
    --mediumBtn-darker: #b45309;
    --difficultBtn: #ef4444;
    --difficultBtn-darker: #b91c1c;
    --resetBtn: #6366f1;
    --resetBtn-darker: #4338ca;
    --card-width: 7rem;
    --card-height: 10rem;
}

body {
    background-color: var(--bg);
    height: 100vh;
    color: var(--text);
}

.hidden {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    position: relative;
    padding: 2rem 0;
}

.left {
    margin: 100% auto;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.data__label {
    font-size: 2rem;
}

.data__input {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.header {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
}

.info {
    display: grid;
    grid-template-areas: ". . . . timer . moves .";
    margin-bottom: 1rem;
}

.timer,
.moves {
    font-size: 1.6rem;
}

.timer {
    grid-area: timer;
}

.moves {
    grid-area: moves;
    justify-self: end;
}

.board {
    display: flex;
    justify-content: center;
    position: relative;
}

.board__greeting {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(10px);
}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2rem;
    background-color: var(--bg-dark);
    color: var(--bg);
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
}

.loader {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 1rem solid var(--mediumBtn-darker);
    border-bottom: 1rem solid var(--easyBtn-darker);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.board__container {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--back);
    box-shadow: 1px 2px 4px var(--shadow);
}

.board__easy {
    grid-template-columns: repeat(4, var(--card-width));
    grid-template-rows: repeat(4, var(--card-height));
}

.board__medium {
    grid-template-columns: repeat(8, var(--card-width));
    grid-template-rows: repeat(5, var(--card-height));
}

.board__difficult {
    grid-template-columns: repeat(15, var(--card-width));
    grid-template-rows: repeat(6, var(--card-height));
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    perspective: 1000px;
    text-align: center;
}

.card__container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    box-shadow: 1px 2px 4px var(--shadow);
}

.card.open .card__container {
    transform: rotateY(180deg);
}

.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.card__front {
    background-color: var(--front);
}

.card__front:hover {
    background-color: var(--text);
}

.card__back {
    background-color: var(--back);
    transform: rotateY(180deg);
    font-size: 5rem;
    line-height: 2;
}

.card.match .card__back {
    background-color: var(--easyBtn);
}

.btn__panel {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
}

.easyBtn,
.mediumBtn,
.difficultBtn,
.resetBtn {
    width: 18rem;
    margin-top: 2rem;
    padding: 0.7rem 3rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.easyBtn:hover,
.mediumBtn:hover,
.difficultBtn:hover,
.resetBtn:hover {
    transform: scale(1.1);
}

.easyBtn {
    background-color: var(--easyBtn);
}

.easyBtn:hover {
    background-color: var(--easyBtn-darker);
}

.mediumBtn {
    background-color: var(--mediumBtn);
}

.mediumBtn:hover {
    background-color: var(--mediumBtn-darker);
}

.difficultBtn {
    background-color: var(--difficultBtn);
}

.difficultBtn:hover {
    background-color: var(--difficultBtn-darker);
}

.resetBtn {
    background-color: var(--resetBtn);
}

.resetBtn:hover {
    background-color: var(--resetBtn-darker);
}

.chosen {
    transform: scale(1.2);
}

.btn__panel.focus button:not(.chosen) {
    filter: brightness(0.4);
}

.dialog {
    width: 30rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    padding: 1rem 3rem;
    transform: translate(-50%, -50%);
    background-color: var(--bg-dark);
    border-radius: 10px;
}

.dialog__text {
    font-size: 3rem;
    color: var(--back);
    text-align: center;
}

.dialog__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
}

.dialog__yes,
.dialog__no {
    border: 0;
    padding: 0.5rem 3rem;
    color: var(--back);
    cursor: pointer;
}

.dialog__yes {
    background-color: var(--easyBtn);
}

.dialog__yes:hover {
    background-color: var(--easyBtn-darker);
}

.dialog__no {
    background-color: var(--difficultBtn);
}

.dialog__no:hover {
    background-color: var(--difficultBtn-darker);
}

.hidden {
    display: none;
}

.right {
    margin: 30% auto 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.tab {
    width: 100%;
    background-color: var(--mediumBtn);
}

.tab__btn {
    padding: 0.5rem 2rem;
    border: 0;
    background-color: transparent;
    font-size: 2rem;
    color: var(--bg);
    cursor: pointer;
    transition: background-color 0.3s;
    transition: all ease-in 0.5s;
}

.tab__btn.active {
    color: var(--text);
    background-color: var(--mediumBtn-darker);
    box-shadow: 1px 2px 5px var(--shadow);
}

.tab__btn:hover {
    background-color: var(--mediumBtn-darker);
}

.content {
    padding-left: 1rem;
}

.content__list {
    list-style: none;
}

.content__item {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.pagination {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__numbers {
    display: flex;
}

.pagination__item {
    padding: 1rem 1.5rem;
    border: 0;
    background-color: transparent;
    font-size: 1.3rem;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.pagination__item:hover {
    background-color: var(--shadow);
}

.pagination__item.active {
    background-color: var(--mediumBtn);
    color: var(--bg);
}
